<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitech.bds.mp.mapper.ScoreManagementMapper">

	<!-- resultMap 基本 -->
    <resultMap type="com.sitech.bds.entity.ScoreManagementEntity" id="scoreManagementMap">
                    <result property="id" column="id"/>
                    <result property="studentId" column="student_id"/>
                    <result property="courseId" column="course_id"/>
                    <result property="score" column="score"/>
                    <result property="remark" column="remark"/>
            </resultMap>

    <!-- 基础表字段 -->
    <sql id="ScoreManagement_basic_sql">
                    id
,                    student_id
,                    course_id
,                    score
,                    remark
            </sql>

    <!-- 表名 -->
    <sql id="ScoreManagement_tableName">
        score_management
    </sql>


</mapper>