<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitech.bds.mapper.StudentsMapper">

	<!-- resultMap 基本 -->
    <resultMap type="com.sitech.bds.entity.StudentsEntity" id="studentsMap">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="gender" column="gender"/>
                    <result property="birthday" column="birthday"/>
                    <result property="email" column="email"/>
                    <result property="phone" column="phone"/>
                    <result property="enrollDate" column="enroll_date"/>
                    <result property="classId" column="class_id"/>
            </resultMap>

    <!-- 基础表字段 -->
    <sql id="Students_basic_sql">
                    id
,                    name
,                    gender
,                    birthday
,                    email
,                    phone
,                    enroll_date
,                    class_id
            </sql>

    <!-- 表名 -->
    <sql id="Students_tableName">
        students
    </sql>


</mapper>