<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitech.bds.mapper.TeachersMapper">

	<!-- resultMap 基本 -->
    <resultMap type="com.sitech.bds.entity.TeachersEntity" id="teachersMap">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="gender" column="gender"/>
                    <result property="birthday" column="birthday"/>
                    <result property="email" column="email"/>
                    <result property="phone" column="phone"/>
                    <result property="hireDate" column="hire_date"/>
            </resultMap>

    <!-- 基础表字段 -->
    <sql id="Teachers_basic_sql">
                    id
,                    name
,                    gender
,                    birthday
,                    email
,                    phone
,                    hire_date
            </sql>

    <!-- 表名 -->
    <sql id="Teachers_tableName">
        teachers
    </sql>


</mapper>