<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zto.onecard.service.base.egroup.mapper.TeachersMapper">

	<!-- resultMap 基本 -->
    <resultMap type="com.zto.onecard.service.base.egroup.entity.TeachersEntity" id="teachersMap">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="gender" column="gender"/>
                    <result property="birthday" column="birthday"/>
                    <result property="email" column="email"/>
                    <result property="phone" column="phone"/>
                    <result property="hireDate" column="hire_date"/>
            </resultMap>

    <!-- 基础表字段 -->
    <sql id="Teachers_basic_sql">
                    id,                    name,                    gender,                    birthday,                    email,                    phone,                    hire_date            </sql>

    <!-- 表名 -->
    <sql id="Teachers_tableName">
        teachers
    </sql>

    <!-- 单个表添加 -->
    <insert id="create" parameterType="com.zto.onecard.service.base.egroup.entity.TeachersEntity" useGeneratedKeys="true" keyProperty="id">
        insert into teachers
        <trim prefix="(" suffix=")" suffixOverrides="," >
                            <if test="id != null" >
                    id,                </if>
                            <if test="name != null" >
                    name,                </if>
                            <if test="gender != null" >
                    gender,                </if>
                            <if test="birthday != null" >
                    birthday,                </if>
                            <if test="email != null" >
                    email,                </if>
                            <if test="phone != null" >
                    phone,                </if>
                            <if test="hireDate != null" >
                    hire_date                </if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                            <if test="id != null" >
                    #{id},                </if>
                            <if test="name != null" >
                    #{name},                </if>
                            <if test="gender != null" >
                    #{gender},                </if>
                            <if test="birthday != null" >
                    #{birthday},                </if>
                            <if test="email != null" >
                    #{email},                </if>
                            <if test="phone != null" >
                    #{phone},                </if>
                            <if test="hireDate != null" >
                    #{hireDate}                </if>
                    </trim>
    </insert>

    <!-- 分页搜索查询 -->
    <select id="queryForPage" resultMap="teachersMap">
        select
        <include refid="Teachers_basic_sql" />
        from
        <include refid="Teachers_tableName" />
        <where>
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            
        </where>
    </select>

    <select id="queryById" resultMap="teachersMap">
        select
        <include refid="Teachers_basic_sql" />
        from
        <include refid="Teachers_tableName" />
        where id = #{id}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from <include refid="Teachers_tableName" />
    </select>

    <!-- 修改操作 -->
    <update id="modifyById">
        update  <include refid="Teachers_tableName" />
        <set>
                            <if test="id != null" >
                    id = #{id},                </if>
                            <if test="name != null" >
                    name = #{name},                </if>
                            <if test="gender != null" >
                    gender = #{gender},                </if>
                            <if test="birthday != null" >
                    birthday = #{birthday},                </if>
                            <if test="email != null" >
                    email = #{email},                </if>
                            <if test="phone != null" >
                    phone = #{phone},                </if>
                            <if test="hireDate != null" >
                    hire_date = #{hireDate}                </if>
                    </set>
        where id = #{id}
    </update>

    <delete id="delById">
        delete from <include refid="Teachers_tableName" /> where id = #{id}
    </delete>

    <delete id="delByIds">
        delete from <include refid="Teachers_tableName" /> where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>



</mapper>